{% load url from future %}
{% load static %}

{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Campsia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_PREFIX }}/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{STATIC_PREFIX }}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{STATIC_PREFIX }}/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_PREFIX }}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_PREFIX }}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_PREFIX }}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{STATIC_PREFIX }}/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'users:index' %}">Campsia</a>
          <div class="nav-collapse collapse">
           <!--  <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
           </ul> -->
           
            <p class="navbar-text pull-right">
            <img src="http://placehold.it/30x30" class="img-rounded"/>
              <a href="{% url 'users:index' %}" class="navbar-link">{{user.username}}</a>
              &nbsp;<a class="navbar-link" href="/logout/">Logout</a>
            </p>
             <form class="navbar-search pull-right" style="margin-right: 10px;">
  <input type="text" class="search-query" placeholder="Search">
</form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    	
    	
    	<div class="span2 pull-left">
    		
    		{% block sidebar %}{% endblock %}
    		<div class="tabbable tabs-left">
    		<ul class="nav nav-tabs ">
    		  <li class="active"><a href="{% url 'users:index' %}"><i class="icon-home"></i> Dashboard</a></li>
			  <li><a href="{% url 'users:notification' %}"><i class="icon-eye-open"></i> Notifications</a></li>
			  <li><a href="{% url 'users:dues' %}"><i class="icon-th-list"></i> Bills &amp; Dues</a></li>
			  <li><a href="{% url 'users:attendance' %}"><i class="icon-certificate"></i> Attendance</a></li>
			  <li><a href="{% url 'messages.views.inbox' %}"><i class="icon-envelope"></i> Messages
			  	{% if messages_inbox_count != 0 %}
			  	<span class="badge badge-info">{{messages_inbox_count}}</span>
			  	{% endif %}
			  	</a></li>
			 
			  
			</ul>
			</div>
    	</div>
    	<div class="span9">
    		{% block content %} {% endblock %}
    	</div>
    	
	
			
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_PREFIX }}/js/jquery.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-transition.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-alert.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-modal.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-tab.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-popover.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-button.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-carousel.js"></script>
    <script src="{{STATIC_PREFIX }}/js/bootstrap-typeahead.js"></script>
	{% block javascript %}
	{% endblock %}
  </body>
</html>
